{% extends "base.html" %}
	{% load static %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-taxinfo{% endblock %}
{% block content %}



<section>

<div class="container home-container">
	<div class="row">
		<div class="col-md-6 home-left">
				<div class="text-home">
					<h1>
						{{ page.main_text|richtext }}
					</h1>
					<h4 class="sub_text">
						{{ page.sub_text|richtext }}
					</h4>
				</div>

				<a href="#collection_title"><button class="home-cta">{{ page.button_text|richtext }}</button></a>
		</div>

		<div class="col-md-6" style="padding: 0;">
			
			{% image page.home_page_image original class="right-img" %}
			<div class="side-box">
				<h2>featured Poem</h2>
				{% for p in self.get_children.specific %}
				{% if p.title == page.featured_poem.title %}
				<div class="poem_card card featured">
					<a href="/{{ p.title|slugify }}">
				    	<span class="poem_title">
				    		{{ p.title }}
				    	</span>
				    	<span class="author">
				    	{{ p.author|richtext }}
				    	</span>
				    	{% if p.body|wordcount == 0 %}

						{% elif p.body|wordcount < 120 %}
							<p class="read_time">~1 min read</p>
						{% else %}
						<p class="read_time">~{% widthratio p.body|wordcount 120 1 %} min read</p>
						{% endif %}
					</a>
			    </div>
			    {% endif %}
		{% endfor %}
			</div>
		</div>
	</div>
	
</div>




</div>
</div>
</section>

<div class="container">
	<div class="justify-content-center collection">

		<h2 id="collection_title">{{ page.title_above_the_collection|richtext }}</h2><br>
		<div id="collection" class="col-md-12 list">
			{% for page in self.get_children.specific %}
				{% if page.title != 'about' %}
				<div class="poem_card card col-md-3">
					<a href="/{{ page.title|slugify }}">
				    	<span class="poem_title">
				    		{{ page.title }}
				    	</span>
				    	<span class="author">
				    	{{ page.author|richtext }}
				    	</span>
				    	{% if page.body|wordcount == 0 %}

						{% elif page.body|wordcount < 120 %}
							<p class="read_time">~1 min read</p>
						{% else %}
						<p class="read_time">~{% widthratio page.body|wordcount 120 1 %} min read</p>

						{% endif %}
					</a>
			    </div>
			    {% endif %}
		{% endfor %}
		</div>
	</div>


</div>


{% endblock %}